<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="license" connectionString="Server=wfdbsrv.wp.siemens.net; initial catalog=HermesOnlineLive_License;Integrated Security=true;" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="hangfire" connectionString="Server=wfdbsrv.wp.siemens.net; initial catalog=HermesOnlineLive_Upload;Integrated Security=true;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="hermesapplication" xdt:Transform="Remove" xdt:Locator="Match(name)" connectionString=""/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <appSettings>
    <add key="CacheImages" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UseMasterDataIntegration" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SmtpUserName" value="bojan.terzic.ext@siemens.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SmtpPassword" value="Winter2017*" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SmtpPort" value="25" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SmtpHost" value="mail.siemens.de" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FeedbackNotificationEmails" value="allan.m.larsen@siemens.com,kirstine.iversen@braendler.com,sarune.janutaite@braendler.com,viktorija.mickyte@braendler.com,franz.lazerte@siemens.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FindingChangeNotificationEmails" value="vaida.andrisiune@braendler.com,sigita.garbauskaite@braendler.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RequestLoginNotificationEmails" value="allan.m.larsen@siemens.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TimelineDefectsRange" value="2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>