<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="license" connectionString="Server=tcp:hermesonline-development.database.windows.net,1433;Initial Catalog=license;Persist Security Info=False;User ID=braendler;Password=HermesOnline2015;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="hangfire" connectionString="Server=tcp:hermesonline-development.database.windows.net,1433;Initial Catalog=hangfire;Persist Security Info=False;User ID=braendler;Password=HermesOnline2015;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="hermesapplication" xdt:Transform="Remove" xdt:Locator="Match(name)" connectionString=""/>    
  </connectionStrings>
  <system.web>
    <customErrors mode="On" xdt:Transform="Insert"/>
  </system.web>
  </configuration>

